.product-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    background-color: var(--tg-theme-bg-color);
  }
.product-item {
  display: flex;
  align-items: center;
  gap: 2vh;
}