.cart-page {
  padding: 16px;
  background-color: var(--tg-theme-bg-color);
  color: var(--tg-theme-text-color);
}
.empty-cart {
  text-align: center;
  font-size: 18px;
  color: var(--tg-theme-hint-color);
}

.cart-items {
  list-style: none;
  padding: 0;
  margin: 0;
}

.cart-item {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  padding: 10px;
  border: 1px solid var(--tg-theme-secondary-bg-color);
  border-radius: 8px;
}

.cart-item-image {
  width: 60px;
  height: 60px;
  object-fit: cover;
  margin-right: 15px;
}

.cart-item-info {
  flex: 1;
}

.cart-item-title {
  font-size: 18px;
  font-weight: bold;
}

.cart-item-description {
  font-size: 14px;
  color: var(--tg-theme-hint-color);
}

.cart-item-price,
.cart-item-quantity {
  font-size: 16px;
}

.cart-item-actions {
  display: flex;
  gap: 10px;
  margin-top: 10px;
}

.cart-item-add,
.cart-item-remove {
  width: 30px;
  height: 30px;
  border: none;
  border-radius: 50%;
  background-color: var(--tg-theme-button-color);
  color: var(--tg-theme-button-text-color);
  font-size: 20px;
  cursor: pointer;
}

.cart-page-footer {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.checkout-button {
  padding: 10px 20px;
  background-color: var(--tg-theme-button-color);
  color: var(--tg-theme-button-text-color);
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
}
.cart-total-price {
  background-color: var(--tg-theme-bg-color);
  position: fixed;
  bottom: 0;
  left: 0;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
  width: 100%;
}