.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    background-color: var(--tg-theme-bg-color);
    color: var(--tg-theme-text-color);
}

.back-button {
    background-color: var(--tg-theme-button-color);
    color: var(--tg-theme-button-text-color);
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 10px;
    transition: background-color 0.3s ease;
}

.back-button:hover {
    background-color: var(--tg-theme-button-hover-color);
}

.username {
    font-size: 16px;
}