.category-list {
    display: flex;
    flex-direction: column;
    padding: 10px;
  }
  
  .category-item {
    padding: 10px;
    background-color: var(--tg-theme-bg-color);
    color: var(--tg-theme-text-color);
    border: 1px solid var(--tg-theme-hint-color);
    margin-bottom: 10px;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
  }
  
  .category-item:hover {
    background-color: var(--tg-theme-button-color);
    color: var(--tg-theme-button-text-color);
  }
  